@using webbanhang_core.Models
@model Product

<h2>Bạn có chắc chắn muốn xóa sản phẩm: @Model.Name?</h2>
<form asp-action="DeleteConfirm" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Xóa</button>
    <a asp-action="Index">Hủy</a>
</form>
