@model Product
<form asp-action="DeleteConfirm">
	<input type="hidden" asp-for="Id"/>
	<h2>Ban Co Muon Xoa Khong ???</h2>

	<button type="submit">Delete</button>
	<a asp-action="Index">Cancel</a>

</form>